@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;;
}

header {
    text-align: center;
    padding: 1rem;
}
main {
    text-align: center;
}

/* Modal */
.modal {
    text-align: left;
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;  
    background-color: rgba(0,0,0,0.5); 
}
.modal__box {
    position: fixed;
    top: 25%;
    animation-name: fadein;
    animation-duration: 1.5s
}

@keyframes fadein {
    from {opacity:0}
    to {opacity:1}
}

.modal__content {
    background-color: #fefefe;
    padding: 2rem;
    border: 1px solid #888;
    width: 100%;
}
.modal__content h2 {
    font-size: 2.5rem;
    padding-top: 2rem;
}

@media screen and (min-width: 560px) {
    .modal__content {
        max-width: 550px;
        min-width: 500px;
        margin: 0 auto;
    }
    .modal__box {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.modal__close {
    color: #aaaaaa;
    float: right;
    font-size: 3rem;
    font-weight: bold;
}
.modal__text {
      padding-bottom: 1.5rem;
      font-size: 1.5rem;
}
  
.modal__close:hover,
.modal__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal__btn {
    padding: 0 3rem;
    width: 100%;
    text-align: right;    
}
.btn {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    display: inline-block;
    margin: 0.5rem;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}
.btn--blue {
    background-color: #008CBA;
}
.btn--blue:hover {
    background-color: #0839a1;
}
.btn--green {
    background-color: #4CAF50;
}
.btn--green:hover {
    background-color: #016b0f;
}
.btn--red {
    background-color: #f44336;
}
.btn--red:hover {
    background-color: #f51c0c;
}

